<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pod Info</title>
</head>
<body>
    <h1>Mohsen Abbas from pod <%= podName %> with IP <%= podIP %></h1>
</body>
</html>
