<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pod Info with Vault Secrets</title>
</head>
<body>
    <h1>Hello World from pod <%= podName %> with IP <%= podIP %></h1>
    <p>Vault Username: <%= vaultUsername %></p>
    <p>Vault Password: <%= vaultPassword %></p>
</body>
</html>
